{% for contact in results %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{ results.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
